replace incorrectly adds value when target location does not exist

[Section 4.3 of RFC6902](https://tools.ietf.org/html/rfc6902#section-4.3) says:

> The target location MUST exist for the operation to be successful.

But `fast-json-patch` incorrectly does an `add` instead of failing in this situation:

```js
var fastJsonPatch = require("fast-json-patch")
var document = { foo: "bar" };
var patch = [
  { op: "replace", path: "/biz", value: "baz" },
];
document = fastJsonPatch.applyPatch(document, patch).newDocument;
```

The result is:

```js
{biz: "baz", foo: "bar"}
```