{"op":"add"} has no value if the value is undefined.

RFC 6902, section 4.1 ("add") says: "The operation object MUST contain a "value" member whose content specifies the value to be added."

jsonpatch.compare() can, however, produce an add operation with no value when the value is undefined.

Test case:
```javascript
original = {foo: 1};
changed = {foo: 1, bar: undefined};
patch = jsonpatch.compare(original, changed);
jsonpatch.apply(original, patch);
```
Result: `Error: 'value' MUST be defined`

I've just added few test cases for it, so it shoul no longer result in error. Behavior in case of `undefined` is described at [README.md](https://github.com/Starcounter-Jack/JSON-Patch/blob/master/README.md#undefineds-json-to-js-extension), and at #32

The test cases added by @tomalec does not work without native `Object.observe` support.
As stated in the issue https://github.com/Starcounter-Jack/JSON-Patch/issues/82, the `Object.observe` is no longer supported, so we can't rely on it.

Current implementation of dirty checking creates mirror ob object with the following code:

```js
mirror.value = JSON.parse(JSON.stringify(obj));
```

As mentioned above, `undefined` is not a valid JSON value, and `JSON.stringify` ignores such properties.

This leads to:

- Replacing value of an `undefined` property generates `add` patch instead of `replace`.
- Removing property with `undefined` value does not generate any patches.

Fixed in [1.0.0](https://github.com/Starcounter-Jack/JSON-Patch/releases/tag/1.0.0)